@model webProgram3.Models.ProductListcs
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
<section class="h-100 gradient-custom">

        <div class="container py-5">
            <div class="row d-flex justify-content-center my-4">
                <div class="col-md-8">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <h2>Cart</h2>

                        </div>
                        <div class="card-body">
                            <!-- Single item -->
                            @if (ViewBag.cart==null)
                            {
                              <h4>Empty ;(</h4>  
                            }
                            @if (ViewBag.cart!=null)
                            {
                                
                           
                            @foreach (var item in ViewBag.cart)
                            {

                            <div class="row">
                                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                    <!-- Image -->
                                    <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                                            <img src="/img/@item.Product.Image"
                                             class="w-100" alt="Blue Jeans Jacket" />
                                        <a href="#!">
                                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                        </a>
                                    </div>
                                    <!-- Image -->
                                </div>

                                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                                    <!-- Data -->
                                    <p><strong>@item.Product.Name</strong></p>
                                        <p>Quantity: @item.Quantity</p>
                                        <a type="submit" asp-controller="Cart" asp-action="Remove" asp-route-id="@item.Product.Id" class=" btn-primary btn-sm me-1 mb-2"> <i class="fas fa-trash"></i></a>
                               

                                </div>

                                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                    <!-- Quantity -->
                           
                                    <!-- Price -->
                                    <p class="text-start text-md-center">
                                            <strong>@(item.Product.Price * @item.Quantity) €</strong>
                                    </p>
                                    <!-- Price -->
                                </div>
                            </div>
                            <!-- Single item -->

                            <hr class="my-4" />
                            }
                            }

                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2>Adress</h2>
                            @foreach (var item in Model.Adress)
                            {
                                if (User.Identity.Name == item.UserName)
                            {
                                       
                                            <p>City: @item.city</p>
                                        
                                           <p>Country: @item.Country</p>
                                       
                                        
                                            <p>Street: @item.streetname</p>
                                      
                                             <p>Postcode: @item.postcode</p>
                                     

                                }



                            }
                        </div>
                    </div>
                    <div class="card mb-4 mb-lg-0">
                        <div class="card-body">
                            <p><strong>We accept</strong></p>
                            <img class="me-2" width="45px"
                                 src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                                 alt="Visa" />
                            <img class="me-2" width="45px"
                                 src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                                 alt="American Express" />
                            <img class="me-2" width="45px"
                                 src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                                 alt="Mastercard" />
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <h2 class="mb-0">Summary</h2>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">                  
                                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                    Shipping:
                                        <select class="form-select small" asp-for="currentcat">

                                    @foreach (var item in Model.DiliveryType)
                                    {

                                            <option class="small" value="1">@item.Name</option>
                                      
                                    }
                                        </select>

                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                    <div>
                                        <strong>Total amount</strong>
                                        <strong>
                                            <p class="mb-0">(including VAT)</p>
                                        </strong>
                                    </div>
                                    <span><strong>@ViewBag.total €</strong></span>
                                </li>
                            </ul>

                      

                        </div>
                        <a type="submit" asp-controller="Cart" asp-action="Checkout" class=" btn-primary btn-lg "><h2 style="text-align:center">Go to checkout</h2></a>

                    </div>
                </div>
            </div>
        </div>
    </section>
</body>








